---
layout: index
---
<div class="container">
    <div class="row home-header">
        <div class="col-md-7 landing-intro-text">
            A Place for My Ideas, Projects, and Current Endeavors
            <a href="https://hugh-ferguson.com/top-secret-zine/" class="congrats on sleuthing around for this link"></a>
            <div class="articles-wrap">
                <div class="articles-title">
                    Current Articles Worth Sharing
                </div>
                {% include articles.html %}
                <div class="articles-archive-link">
                    All archived articles can be read <a class="archive-link" href="{{site.baseurl}}/archive">here</a>
                </div>
            </div> 
        </div>
        <div class="col-md-5 landing-img-parent">
            <img class="landing-img" src="assets/img/headshot.jpg">
        </div>
    </div>
    {% include pinned.html %}
</div>
