<div class="row pinned-row">
    <div class="pinned-title">
        Pinned
    </div>
   <a href="https://www.csus.edu/indiv/c/chalmersk/econ184sp09/johnrawls.pdf" target="_blank">
        <div class="col-md-4 pinned-item">
            <div class="pinned-text">John Rawls: A Theory of Justice</div>
        </div>
    </a>    
    <a href="https://www.youtube.com/watch?v=NZCRlTQAr88" target="_blank">
        <div class="col-md-4 pinned-item">
            <div class="pinned-text">Bob Martin: The Future of Programming</div>
        </div>
    </a>
    <a href="https://genius.com/Langston-hughes-let-america-be-america-again-annotated" target="_blank">
        <div class="col-md-4 pinned-item">
            <div class="pinned-text">Langston Hughes: Let America Be America Again</div>
        </div>
    </a>
</div>