<div class="row pinned-row">
    <div class="pinned-title">
        Pinned
    </div>
   <a href="https://www.csus.edu/indiv/c/chalmersk/econ184sp09/johnrawls.pdf" target="_blank">
        <div class="col-md-4 pinned-item">
            <div class="pinned-text">
                John Rawls: A Theory of Justice 
            </div>
        </div>
    </a>    
    <a href="https://genius.com/Langston-hughes-let-america-be-america-again-annotated" target="_blank">
        <div class="col-md-4 pinned-item">
            <div class="pinned-text">
                Let America Be America Again
            </div>
        </div>
    </a>
    <a href="http://karliegriffin.com/school/The%20Stranger%20-%20Albert%20Camus.pdf" target="_blank">
        <div class="col-md-4 pinned-item">
            <div class="pinned-text">
                Albert Camus: The Stranger
            </div>
        </div>
    </a>
</div>